.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.up-down-buttons {
    display: flex;
    flex-direction: column;
}

#sign-in-page {
    display: none;
}

#all-list-page {
    display: none;
}

#single-list-page {
    display: none;
}
